@{
    ViewBag.Title = "EMail Bestätigung";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Vielen Dank für die Bestätigung der E-Mail. Klicken Sie @Html.ActionLink(" hier", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) zum anmelden.
    </p>
</div>