@{
    ViewBag.Title = "EMail Bestätigung";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Vielen Dank für die Bestätigung deiner E-Mail. Bitte @Html.ActionLink("klick hier um dich anzumelden", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).
    </p>
</div>
