@model DateTime

<a id="Header_Date" href="#Header_Date" onclick="$('#Content_Date').toggle();" class="list-group-item list-group-item-action">
    <div class="media col-xs-2">
        <img class="media-object aadi-img-responsive" src="~/Images/Common/Ausrufezeichen.svg">
    </div>
    <div class="col-xs-9">
        <div class="text-common">
            Datum
        </div>
        <div class="text-scientific">
            Erforderlich
        </div>
    </div>
    <div class="media col-xs-1">
        <img id="Checkbox_Date" class="media-object aadi-img-responsive pull-right" src="~/Images/Common/Kästchen-mit-Haken.svg">
    </div>
    <div class="clearfix"></div>
</a>
<div style="padding-left: 15px; padding-right: 15px">
    <div id="Content_Date" class="col-xs-9 col-xs-offset-2 observation-content">
        <div class="form-group">
            <div class="row">
                <div id="DateTimePicker_Date">
                    @Html.HiddenFor(m => m)
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>