@model string

<a id="Header_Species" href="#Header_Species" onclick="$('#Content_Species').toggle();" class="list-group-item list-group-item-action">
    <div class="media col-xs-2">
        <img class="media-object aadi-img-responsive" src="~/Images/Common/Ausrufezeichen.svg">
    </div>
    <div class="col-xs-9">
        <div class="text-common">
            Tierart
        </div>
        <div class="text-scientific">
            Erwünscht
        </div>
    </div>
    <div class="media col-xs-1">
        <img id="Checkbox_Species" class="media-object aadi-img-responsive pull-right" src="~/Images/Common/Kästchen.svg">
    </div>
    <div class="clearfix"></div>
</a>
<div style="padding-left: 15px; padding-right: 15px">
    <div id="Content_Species" class="col-xs-9 col-xs-offset-2 observation-content">
        <div class="form-group">
            @Html.LabelFor(m => m)
            @Html.TextBoxFor(m => m, new { @class = "form-control", data_provide = "typeahead", placeholder = "Tierart" })
        </div>
    </div>
    <div class="clearfix"></div>
</div>