@model bool

<div style="padding-left: 15px; padding-right: 15px">
    <div id="Content_TermsAndConditions" class="col-xs-11">
        <div>
            @Html.CheckBoxFor(m => m)
            @Html.LabelFor(m => m)
        </div>
    </div>
    <div class="clearfix"></div>
</div>