@model List<IngolStadtNatur.Web.Shell.Models.GalleryItemModel>

<div id="publicGallery">
    @foreach (var shot in Model)
    {
        <a href="@shot.Path">
            <picture>
                <source srcset=@($"/Shots/46d68906-3645-4727-a566-8e67aabf29ec.jpg?width=192&quality=90") media="(min-width: 1200px)">
                <source srcset=@($"/Shots/46d68906-3645-4727-a566-8e67aabf29ec.jpg?width=128&quality=90") media="(min-width: 768px) and (max-width: 1199px)">
                <source srcset=@($"/Shots/46d68906-3645-4727-a566-8e67aabf29ec.jpg?width=64&quality=90") media="(max-width: 767px)">
                <img class="media-object aadi-img-responsive" srcset=@($"/Shots/46d68906-3645-4727-a566-8e67aabf29ec.jpg?width=128&quality=90") alt="">
            </picture>
        </a>
    }
</div>

@section Scripts{
    <script>
        $(document)
            .ready(function () {
                $('#publicGallery').lightGallery({
                    thumbnail: true,
                    animateThumb: false,
                    showThumbByDefault: false
                });
            });
    </script>
}