<div class="row">
    <div class="list-group">
        <a href="@(Url.Action("Index", "Home"))" class="list-group-item list-group-item-action aadi-lgi-common background-aad">
            <div class="media col-xs-2">
                <img class="media-object aadi-img-responsive" src="~/Images/Common/Return_AAD.svg">
            </div>
            <div class="col-xs-9 text-aad">
                Zurück
            </div>
            <div class="media col-xs-1">
                <img class="media-object aadi-img-responsive pull-right" src="~/Images/Common/Pfeil_Links_AAD.svg">
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
</div>

<div class="row" style="text-align: justify;">
    <div class="col-xs-12">
        <h3>Wie kann ich helfen?</h3>

        <div>
            <p>
                Wenn Du uns eine Sichtung mitteilen möchtest, hast Du folgende Möglichkeiten:
            </p>

            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" style="text-decoration: none" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            <h3 style="margin: 0">Soforteingabe</h3>
                        </a>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                Du weißt, welches Tier Du gesehen hast? Indem Du die “Soforteingabe” wählst, kannst Du uns auf
                                schnellstem Weg eine Tierart nennen und ein Foto des gesichteten Tieres übermitteln. Es ist
                                immer erforderlich, uns anhand der Karte zu zeigen, wo das Tier gesichtet wurde. Um die Eingabe
                                so unkompliziert wie möglich zu machen, ist die Karte in klar abzugrenzende Gebiete unterteilt.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" style="text-decoration: none" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            <h3 style="margin: 0">Bestimmungsschlüssel</h3>
                        </a>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Nutze den Bestimmungsschlüssel, wenn Du ein Tier nicht kennst und bestimmen möchtest. Oft
                            lohnt sich ein Blick auf ähnlich aussehende Arten oder Gruppen, um ein Tier korrekt einordnen zu
                            können. Mit unserem Bestimmungsschlüssel kannst Du dein Tier so weit einordnen, bis du es
                            kennst oder nicht mehr weiterweißt und dann die Sichtung abschicken.
                            Gerne kannst Du uns zusätzlich ein Foto hochladen. Je mehr Informationen wir von dir bekommen,
                            umso besser ist es für die spätere Auswertung!</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" style="text-decoration: none" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            <h3 style="margin: 0">Unsicher?</h3>
                        </a>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Ist man nun einer Dohle oder einer Rabenkrähe begegnet? Oder ist das gesichtete Tier scheinbar
                            gar nicht aufgelistet? Auch ein detektivischer Hinweis kann uns schon ein gutes Stück
                            weiterhelfen. Dafür findest Du auf jeder Ebene des Bestimmungsschlüssels unten den Button
                            “Unsicher?”. Wenn du nicht mehr weiter weißt, klicke einfach darauf und melde uns trotzdem, was
                            du herausgefunden hast.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>