<div class="row">
    <div class="list-group">
        <a href="@(Url.Action("Index", "Home"))" class="list-group-item list-group-item-action aadi-lgi-common background-aad">
            <div class="media col-xs-2">
                <img class="media-object aadi-img-responsive" src="~/Images/Common/Return_AAD.svg">
            </div>
            <div class="col-xs-9 text-aad">
                Zurück
            </div>
            <div class="media col-xs-1">
                <img class="media-object aadi-img-responsive pull-right" src="~/Images/Common/Pfeil_Links_AAD.svg">
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 text-common">
        Impressum
    </div>
</div>
<div class="row">
    <div class="col-xs-6 text-description">
        BETREIBER (Herausgeber):
    </div>
    <div class="col-xs-6 text-description">
        Technische Universität München <br />
        Lehrstuhl für Terrestrische Ökologie <br />
        Hans-Carl-von-Carlowitz-Platz 2 <br />
        85354 Freising <br />
        Email: toek@tum.de <br />
    </div>
</div>

<div class="row" style="margin-top: 1em">
    <div class="col-xs-12 text-description">
        VERTRETUNGSBERECHTIGT
    </div>
    <div class="col-xs-12 text-description">
        Prof. Dr. Wolfgang W. Weisser
    </div>
</div>

<div class="row" style="margin-top: 1em">
    <div class="col-xs-12 text-description">
        UMSATZSTEUERIDENTIFIKATIONSNUMMER
    </div>
    <div class="col-xs-12 text-description">
        <br />
    </div>
</div>

<div class="row" style="margin-top: 1em">
    <div class="col-xs-12 text-description">
        INHALTLICH VERANTWORTLICH
    </div>
    <div class="col-xs-12 text-description">
        AAD App Team der TUM am TOEK unter Wolfgang W. Weisser <br />
        Hans-Carl-von Carlowitz-Platz 2 <br />
        85354 Freising <br />
    </div>
</div>

<div class="row" style="margin-top: 1em">
    <div class="col-xs-12 text-description">
        KONZEPTION UND TECHNISCHE UMSETZUNG
    </div>
    <div class="col-xs-12 text-description">
        AAD App Team der TUM und UK
    </div>
    </div>

<div class="row" style="margin-top: 1em">
    <div class="col-xs-12 text-description">
        HAFTUNGSHINWEIS
    </div>
    <div class="col-xs-12 text-description">
        Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte
        externer Links. Für den Inhalt verlinkter Seiten sind ausschließlich deren Betreiber
        verantwortlich.
    </div>
</div>

<div class="row" style="margin-top: 2em">
    <div class="col-xs-12 text-description">
        Für unsere registrierten Nutzer ist die Datenschutzerklärung <a href="/Documents/Datenschutzerklärung.pdf" target="_blank">hier</a> hinterlegt.
    </div>
</div>