<div class="row">
    <div class="list-group">
        <a href="@(Url.Action("Index", "Home"))" class="list-group-item list-group-item-action aadi-lgi-common background-aad">
            <div class="media col-xs-2">
                <img class="media-object aadi-img-responsive" src="~/Images/Common/Return_AAD.svg">
            </div>
            <div class="col-xs-9 text-aad">
                Zurück
            </div>
            <div class="media col-xs-1">
                <img class="media-object aadi-img-responsive pull-right" src="~/Images/Common/Pfeil_Links_AAD.svg">
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
</div>

<h2>Was wollen wir erreichen?</h2>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="panel-title" style="text-decoration: none" data-toggle="collapse" data-parent="#accordion" href="#collapse_what1">
                <h5 style="margin: 0">Was ist "Animal-Aided Design"?</h5>
            </a>
        </div>
        <div id="collapse_what1" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                    Animal-Aided Design (AAD®) ist eine Methode, um tiergerechte Gestaltung von Freiräumen zu ermöglichen.
                    Das Ziel ist, die Bedürfnisse von wilden Tieren in die Stadt- und Freiraumplanung einfließen zu lassen.
                    AAD versucht somit, bisherige Planungsprozesse zu erweitern, damit nicht nur der Mensch, sondern auch Pflanzen und Tiere von der menschlichen Gestaltung profitieren.
                    Dies dient jedoch nicht nur den Pflanzen und Tieren, sondern auch dem Menschen selbst.
                    Durch die besser geplanten und gestalteten Freiräume steigt deren Qualität und auch Menschen können sich dort wohler fühlen.
                    Darüber hinaus werden für unser Klima notwendige Prozesse, die Ökosystem-Funktionen, unterstützt.
                </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="panel-title" style="text-decoration: none" data-toggle="collapse" data-parent="#accordion" href="#collapse_what2">
                <h5 style="margin: 0">Warum ist Animal-Aided Design notwendig? </h5>
            </a>
        </div>
        <div id="collapse_what2" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                    In der Planung von städtischen Freiräumen spielen Tiere bisher keine Rolle.
                    Belange von Tieren werden als „Randbedingung“ berücksichtigt, in der Regel ist das Vorkommen
                    der verschiedenen Tierarten nach Fertigstellung der Freiräume eher zufällig und wird mitunter durch unspezifische Maßnahmen,
                    wie zum Beispiel das Pflanzen von einheimischen Gehölzen oder das Aufhängen von Nistkästen, unterstützt.
                    Somit entfalten sich die urbane Räume als Lebensraum für Tiere nur teilweise/bedingt.
                    Das Potential der Tiere, nicht nur die ästhetische Qualität, sondern auch die Ökosystemfunktionen der städtischen Freiräume zu verbessern,
                    bleibt leider häufig ungenutzt.
                </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="panel-title" style="text-decoration: none" data-toggle="collapse" data-parent="#accordion" href="#collapse_what3">
                <h5 style="margin: 0">Wofür brauchen wir Ökosystemfunktionen? </h5>
            </a>
        </div>
        <div id="collapse_what3" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                    Ökosystemfunktionen dienen der Regulation unseres Klimas, da sie diverse Stoffflüsse durch unsere Umwelt aufrecht erhalten.
                    Dazu gehören z.B. der Wasserkreislauf oder die Bestäubung von Pflanzen. Für einen reibungslosen Ablauf braucht es also ein ausgeglichenes Ökosystem,
                    und das wiederum kann nur dauerhaft exisitieren, wenn das Vorkommen diverser Tier- und Pflanzenarten innerhalb eines Ökosystems gewährleistet ist.
                    Urbane Räume, die nicht Tier- und Pflanzenfreundlich gestaltet sind, haben die starke Tendenz, weniger Arten einen nachhaltigen Lebensraum zu bieten
                    als gezielt für Tierarten gestaltete Freiräume in der Stadt.
                </p>
                <p>
                    Vor dem Hintergrund des Klimawandels und des globalen Biodiversitäts-Verlustes ist es essentiell,
                    Tiere in die Gestaltung von städtischen Freiräumen besser einzubinden. Städte sind,
                    - im Vergleich zu einer intensiv landwirtschaftlich genutzten Umgebung-, mittlerweile sogar sogenannte Arten-Hotspots.
                    Das Resultat ist also eine besondere Verantwortung der städtischen Planung, die Artenvielfalt zu erhalten
                    und nachhaltig zu fördern.
                </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="panel-title" style="text-decoration: none" data-toggle="collapse" data-parent="#accordion" href="#collapse_what4">
                <h5 style="margin: 0">Wie funktioniert Animal-Aided Design?</h5>
            </a>
        </div>
        <div id="collapse_what4" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                    AAD arbeitet mit verschiedenen Tierarten, unseren Zielarten, deren Grundbedürfnisse wie etwa Nahrung,
                    Ansprüche an Nestbau etc. als ‘kritische Standortfaktoren’ in die Planung eingearbeitet werden.
                    So wird sichergestellt, dass sie im Planungsraum, .z.B. einer Wohnsiedlung, alles finden,
                    was sie zum Leben brauchen. Gleichzeitig dienen uns die kritischen Standortfaktoren als Inspiration für die Gestaltung,
                    von der wir glauben, dass sie dadurch besser und auch für uns Menschen attraktiver wird.
                </p>
            </div>
        </div>
    </div>
</div>

Als Teil von Animal-Aided Design soll die Webseite IngolStadtNatur helfen, Zielarten für eine klimagerechte Gestaltung des Stadtparks auszuwählen. Die Ergebnisse sollen in künftige Planungsprojekte entlang der Donau eingebracht werden.

Eine ausführliche Beschreibung der Methode findet sich in unserer Broschüre: Hauck T E, Weisser W W 2014: AAD – Animal Aided Design. (bitte auf Link klicken, um die Broschüre herunterzuladen)

Weitere Literatur • R. Schelle, T. Hauck, W. W. Weisser, Garten + Landschaft, Gehölzverwendung, Heft 12, Dezember 2013, S. 32-35. • T. Hauck, W.W. Weisser, Stadt + Grün – Das Gartenamt, 2/2015 Patzer-Verlag, 49-54. • T. Hauck, W. W. Weisser, anthos 4/2015, S. 20-23 • T. Hauck, Nodium – Zeitschrift des Alumni-Clubs Landschaft der TU München, Heft 7, 2015

Ansprechpartner:
Prof. Dr. Wolfgang W. Weisser
Lehrstuhl für Terrestrische Ökologie am Wissenschaftszentrum Weihenstephan für Ernährung, Landnutzung und Umwelt
Technische Universität München
Hans-Carl –v.-Carlowitz-Platz 2
85354 Freising
Tel +49(0)8161 71 3496
Fax +49(0)8161 71 4427
Email: wolfgang.weisser@tum.de

Dr.-Ing. Thomas Hauck
Lehrstuhl für Landschaftsarchitektur und öffentlichen Raum an der Fakultät für Architektur
Technische Universität München
Emil-Ramann-Straße 6
85350 Freising
Tel +49(0)8161 71 4165
Fax +49(0)8161 71 5493
Email thomas.hauck@wzw.tum.de